extends ./layout.jade

block title
  title Auth0 Users Usage Map

block content

  script(type='text/babel').
    var Extension = React.createClass({
      render: function() {
        return (
          <div>
            <div id="content-area" className="tab-content">
              <div id="tab1" className="tab-pane active">
                <div id="map"></div>
              </div>

            </div>
          </div>
        );
      }
    });

    ReactDOM.render(
      <Extension />,
      document.getElementById('extension')
    );

  
